:root{
  --btn-color: #3366cc;
  --color-blue: #224bcf;
  --color-1: #d9f0ff;
  --navy-blue: #000080  ;
  --color-white: #fff;
  --icon-color: #f70031;
  --color-black: #000000;
  --back-color: #e7e7e7;
}
.footer{
  text-align: center;
  font-size: 1.5rem;
}
.footer h3 {
  font-size: 3rem;
}
.box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box a{
  padding: 10px;
  font-size: 2rem;
  background-color: var(--back-color);
  margin: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.box a:hover {
  transform: translateY(-10px);
  transition: all 0.5s linear ;
}
.footer .box {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.footer p{
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}
.footer i{
  color: var(--icon-color);
}
@media (max-width: 768px) {
  .footer .box {
    width: 80%;
    flex-wrap: wrap;
    padding: 30px;
  }
  .footer .box a {
    transform: unset;
  }
}